.dialog {
  inset: 0;
  border: 1px solid var(--border);
  background: hsl(var(--card));
  color: hsl(var(--foreground));
}

.dialog:modal {
  max-width: 100vw;
  max-height: 100dvh;
  overflow: hidden;
}

.dialog {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  padding: 0;
  margin: 0;
  background-color: hsl(var(--primary) / 0.5);
}

.content {
  padding: 0;
  background-color: hsl(var(--background));
  width: 80dvw;
  max-width: 500px;
  min-width: 250px;
  height: 100dvh;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  /* box-shadow: var(--shadow-2xl); */
  box-shadow: 4px 0 1px 12px hsl(296.36deg 100% 66% / 51%), 1px 1px 0 32px hsl(275.59deg 100% 63.91% / 27.9%);
  animation: slideOut 250ms;
  overflow: auto;
}

.dialog[open] .content {
  animation: slideIn 250ms forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100dvw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100dvw);
  }
}

.backdrop {
  width: 100%;
  height: 100%;
}