.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 2.5rem;
  }
}

@media (min-width: 1280px) {
  .default {
    max-width: 1280px;
  }
}

.narrow {
  max-width: 860px;
}

.fluid {
  width: 100%;
}