.text {
  line-height: 1.52;
  font-weight: 300;
}

.xl {
  font-size: clamp(2rem, 2.25vw, 2.5rem);
  font-size: 24px;
  font-size: 1.5rem;
}

.lg {
  font-size: clamp(1.7rem, 1.75vw, 1.8rem);
  font-size: 20px;
  font-size: 1.25rem;
}

.md {
  font-size: clamp(1.125rem, 1.5, 1.5rem);
  font-size: 18px;
  font-size: 1.12rem;
}

.default {
  font-size: clamp(.9rem, 1.25vw, 1rem);
  /* font-size: 16px;
  font-size: 1rem; */
  line-height: 1.7;
}

.sm {
  font-size: clamp(.85rem, 1.1vw, .94rem);
  line-height: 1.5;
  /* font-size: 15px;
  font-size: 0.94rem; */
}

.metaLarge {
  font-size: clamp(.8rem, 1vw, .87rem);
  /* font-size: 14px;
  font-size: 0.87rem; */
}

.meta {
  font-size: clamp(0.7rem, 1vw, 0.75rem);
  /* font-size: 12px;
  font-size: 0.75rem; */
}

.medium {
  font-size: 96px;
}

.small {
  font-size: 80px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.balanced {
  text-wrap: balance;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.shrink {
  letter-spacing: -.016em;
}

.nav {
  font-size: clamp(.8rem, 1vw, .87rem);
  letter-spacing: 0.5;
}

/* ----------- */

.h1 {
  font-size: clamp(3rem, 6.2vw, 4rem);
}

.h2 {
  font-size: clamp(2.5rem, 5.5vw, 3rem);
}

.h3 {
  font-size: clamp(1.8rem, 5vw, 2rem);
}

.h4 {
  font-size: clamp(1.35rem, 3vw, 1.5rem);
}

.h5 {
  font-size: clamp(1.25rem, 2.5vw, 1.38rem);
}

.h6 {
  font-size: clamp(1rem, 2vw, 1.12rem);
}

.titlePrimary {
  font-family: Morganite;
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.titlePrimaryLarge {
  font-size: 10rem;
}

.titlePrimaryMedium {
  font-size: 8rem;
}

.titlePrimarySmall {
  font-size: 6rem;
}

.adjustBaseline {
  margin-bottom: -1.5rem;
}

/*

.title {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

.titleDefault {
  font-weight: 700;
  letter-spacing: -.04em;
  line-height: 1;
}

.titleSmall {
  font-size: 2.25rem;
  line-height: 1;
}

.titleMedium {
  font-size: 1.5rem;
  font-size: clamp(2.5rem, 2.5vw, 3rem);
}

.titleLarge {
  font-size: 1.8rem;
  font-size: clamp(3.5rem, 3.5vw, 4rem);
}

.titleXLarge {
  font-size: 1.8rem;
  font-size: clamp(4.25rem, 5vw, 6.25rem);
} */