.header {
  height: 5rem;
  display: flex;
  align-items: center;
}

.logoLink:focus-visible {
  outline: none;
}

.menu {
  min-height: 100dvh;
  background-color: hsl(265.56 52.63% 38.53%);
  display: flex;
  flex-direction: column;
}

.menu>div:last-of-type {
  margin-top: auto;
}

.with-z-index {
  z-index: 1;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 1rem;
}

.nav>a {
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: x-large;
  text-decoration: none;
}

.nav>a:hover {
  background-color: hsl(var(--button) / 0.5);
  text-decoration: underline;
  border-radius: 0.25rem;
}

.padding {
  padding: 1rem 2rem;
}

.close {
  position: absolute;
  right: 1.8rem;
  top: 1.8rem;
}

@media screen and (width > 640px) {
  .button {
    display: none;
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}