---
import Button from "../ui/button/Button.astro";
import Icon from "../ui/icon/Icon.astro";
---

<Button variant="link" class="back" onclick="history.back()">
  <Icon icon="back" size="24px" /> Volver
</Button>
