.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.grid>article {
  --height: 28vh;
  width: 100%;
  background-color: black;
  transition: 200ms ease-in-out;
}

.grid:hover article:hover {
  scale: 1.2;
  z-index: 1;
}

.grid:hover article:not(:hover) a {
  opacity: 0.7;
}