---
import type { HTMLAttributes } from "astro/types";
import type { CollectionEntry } from "astro:content";
import Article from "./Article.astro";
import styles from "./RelatedPosts.module.css";

type Props = { posts: CollectionEntry<"portfolio">[] } & HTMLAttributes<"div">;

const { posts, ...props } = Astro.props;
---

<div class={styles.grid} {...props}>
  {posts.map((post) => <Article {...post} />)}
</div>
