.grid {
  display: grid;
  gap: 4vw;
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
}

@media screen and (min-width: 960px) {
  .grid {
    gap: 2vw;
  }

  .two {
    grid-template-columns: 1fr 1fr;
  }

  .three {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .masonry {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
}