.grid {
  --max-width: 250px;
  display: grid;
  gap: 2.5vw;
  grid-template-columns: repeat(auto-fit, minmax(min(220px, 100%), 1fr));
}

@media screen and (min-width: 960px) {
  .grid {
    gap: 2vw;
    --max-width: 250px;
  }

  .two {
    --max-width: 320px;
  }

  .three {
    --max-width: 268px;
  }
}