---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";
import styles from "./Grid.module.css";

const cvaVariants = cva(styles.grid, {
  variants: {
    columns: {
      two: styles.two,
      three: styles.three,
      masonry: [styles.masonry],
    },
  },
});

type Props = HTMLAttributes<"div"> & VariantProps<typeof cvaVariants>;

const { class: className = "", columns, ...props } = Astro.props as Props;
---

<div class={cvaVariants({ columns, className })} {...props}>
  <slot />
</div>
