@layer base {
  :root {
    --background: 265.56, 58.7%, 18.04%;
    --foreground: 210, 20%, 98%;
    --card: 303, 100%, 93%;
    --card-foreground: 266.22, 54.22%, 51.18%;
    --popover: 262.27, 71.4%, 4.1%;
    --popover-foreground: 210, 20%, 98%;
    --button: 306, 100%, 83%;
    --button-foreground: 266.22, 54.22%, 51.18%;
    --primary: 314.16, 100%, 65.1%;
    --primary-foreground: 0, 0, 100%;
    --secondary: 240.92, 28.18%, 19.35%;
    --secondary-foreground: 210, 20%, 98%;
    --muted: 240.92, 28.18%, 19.35%;
    --muted-foreground: 264.74, 100%, 95.97%;
    --accent: 78.82, 100%, 60%;
    --accent-foreground: 260, 41.45%, 9.18%;
    --destructive: 337, 86%, 37%;
    --destructive-foreground: 210, 20%, 98%;
    --border: 240.92, 28.18%, 19.35%;
    --border: 260, 28.13%, 25.1%;
    --input: 0, 0%, 100%;
    --ring: 263.4, 70%, 50.4%;
    --radius: 0.5rem;
  }

  /*
    FIEBRE NEW
    hsl(265.56 58.7% 18.04%)
    hsl(210 20% 98%)
    hsl(303, 100%, 93%)
    hsl(266.22, 54.22%, 51.18%)
    hsl(262.27 71.4% 4.1%)
    hsl(210 20% 98%)
    hsl(306, 100%, 83%)
    hsl(266.22, 54.22%, 51.18%)
    hsl(314.16 100% 65.1%)
    hsl(0 0 100%)
    hsl(240.92 28.18% 19.35%)
    hsl(210 20% 98%)
    hsl(240.92 28.18% 19.35%)
    hsl(264.74 100% 95.97%)
    hsl(78.82 100% 60%)
    hsl(260 41.45% 9.18%)
    hsl(337 86% 37%)
    hsl(210 20% 98%)
    hsl(240.92 28.18% 19.35%)
    hsl(260 28.13% 25.1%)
    hsl(0 0% 100%)
    hsl(263.4 70% 50.4%)
*/
}