---
import About from "~/components/home/About.astro";
import MainHero from "~/components/home/MainHero.astro";
import Resources from "~/components/home/Resources.astro";
import Services from "~/components/home/Services.astro";
import Section from "~/components/ui/section/Section.astro";

import Layout from "~/layouts/MainLayout.astro";
---

<Layout>
  <Section id="hero"><MainHero /></Section>
  <!-- <Section id="store" style="margin-bottom: 10rem">
    <Store />
  </Section> -->
  <Section id="services">
    <Services />
  </Section>
  <Section id="about">
    <About />
  </Section>
  <Section id="resources">
    <Resources />
  </Section>
</Layout>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      console.log("entry");
      if (entry.isIntersecting) {
        entry.target.classList.add("animation-show");
      } else {
        entry.target.classList.remove("animation-show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".animation-hidden");
  const hiddenElementsRight = document.querySelectorAll(
    ".animation-hidden-right"
  );
  hiddenElements.forEach((el) => observer.observe(el));
  hiddenElementsRight.forEach((el) => observer.observe(el));
</script>
