.about {
  background-color: hsl(266, 54%, 51%);
  background: linear-gradient(0deg, hsl(314, 100%, 65%) 0%, hsl(266, 54%, 51%) 38%);
  background-position: center top;

  padding-top: 5vh;
  padding-bottom: 14rem;
  position: relative;
  animation-name: animateBackground;
  animation-fill-mode: forwards;
  animation-timeline: view(40%);
}

@keyframes animateBackground {
  from {
    background-size: 100% 400%;
  }

  to {
    background-size: 100% 100%;
  }
}

.mask {
  overflow-x: clip;
}

.backgroundSVG {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.nubes {
  position: absolute;
  top: 0;
  transform: translateY(-90%);
  width: 100vw;
  height: auto;
  max-height: 100%;
  user-select: none;
  pointer-events: none;
}

.nubes2 {
  width: 100%;
  height: 100%;
  background-size: 110% 110%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  animation-name: parallaxStar2;
  animation-fill-mode: forwards;
  animation-timeline: view();
  animation-timing-function: ease-in-out;
}

@keyframes parallaxStar2 {
  from {
    background-size: 110% 110%;
    background-position: 100% 50%;
  }

  to {
    background-size: 110% 110%;
    background-position: 0% 50%;
  }
}

.nube1 {
  width: 100px;
  translate: 1066px;
  /* animation: run 5s linear infinite; */
}

/* 
@keyframes run {
  0% {
    translate: 1066px;
  }

  25% {
    translate: 100vw;
  }

  25% {
    translate: 0;
  }

  100% {
    translate: 1066px;
  }
} */

.estrellas3 {
  width: 100vw;
}

.estrellas4 {
  width: 100vw;
}


.about-text {
  padding: min(max(2vw, 0.5rem), 4rem);
  max-width: 85vw;
  margin: 2rem auto 0 auto
}

@media (width >=768px) {
  .about-text {
    max-width: 62vw;
  }
}


.images {
  position: relative;
  max-width: 402px;
  max-height: 460px;
  width: 26em;
  height: 29em;
  flex-shrink: 0;
  translate: -2em 0;
  user-select: none;
  pointer-events: none;
}

@media (width <=1440px) {
  .images {
    font-size: 0.9em;
  }
}

@media (width <=1280px) {
  .images {
    font-size: 0.8em;
  }
}

@media (width <=960px) {
  .images {
    font-size: 0.65em;
  }
}

@media (width <=780px) {
  .images {
    font-size: 0.6em;
  }
}

.absolute {
  position: absolute;
}

.imgGrilla {
  translate: -2rem;
  animation: moveGrilla 1s ease-in-out forwards;
  animation-timeline: view();
}

.image {
  max-width: 100%;
}

.imgFoto1 {
  top: 1em;
  left: 1em;
}

.imgFoto2 {
  top: 2em;
  left: 2em;
  animation: moveFoto1 1s ease-in-out forwards;
  animation-timeline: view();
}

.imgFoto3 {
  top: 3em;
  left: 3em;
  animation: moveFoto2 1s ease-in-out forwards;
  animation-timeline: view();
}

@keyframes moveFoto1 {
  from {
    translate: -1em -1em;
  }

  to {
    translate: 0 0;
  }
}

@keyframes moveFoto2 {
  from {
    translate: -2em -2em;
  }

  to {
    rotate: 0 0;
  }
}

.imgPaint {
  left: 0;
  top: 2em;
}

/* .imgAbout {
  max-width: 568px;
  height: auto;
  width: 36em;
} */

.imgSkillset {
  max-width: 405px;
  top: 1em;
  right: -28em;
  width: 26em;
}

.imgGustos {
  max-width: 234px;
  top: 17em;
  left: -16em;
  width: 15em;
}

.imgHerramientas {
  max-width: 324px;
  bottom: 3em;
  right: -10em;
  width: 21em;
}

.imgIdiomas {
  max-width: 210px;
  top: 0;
  left: -14em;
  width: 14em;
}

.imgMouse {
  max-width: 41px;
  bottom: -2em;
  right: 0;
}

@media (width <=780px) {
  .imgPaint {
    display: none;
  }

  .imgSkillset {
    max-width: 405px;
    top: 1em;
    right: -20em;
    width: 26em;
  }

  .imgGustos {
    max-width: 234px;
    top: 17em;
    left: -12em;
    width: 15em;
  }

  .imgHerramientas {
    max-width: 324px;
    bottom: 3em;
    right: -10em;
    width: 21em;
  }

  .imgIdiomas {
    max-width: 210px;
    top: 0;
    left: -8em;
    width: 14em;
  }
}

@keyframes moveGrilla {
  from {
    translate: -2rem;
  }

  to {
    translate: 0;
  }
}