.hero {
  height: 100vh;
  min-height: 500px;
  background-size: auto 115%;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  user-select: none;
  position: relative;

  container-type: inline-size;
  container-name: hero;

  overflow-x: clip;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0deg 0% 0% / 45%);
  background: linear-gradient(180deg, rgba(20, 0, 47, 0.4) 20%, rgba(102, 102, 102, 0) 100%);
}

.content {
  position: relative;
}

.title {
  transition: font 0.3s ease;
  will-change: font;
  font-size: 2.8cqw;
}

.text1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.15em;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;

  display: block;
}

.text2 {
  display: inline-block;
  animation-delay: 250ms;
}

.text3 {
  display: inline-block;
  animation-delay: 500ms;
}

.headline {
  font-family: 'Morganite';
  line-height: 1;
  text-transform: uppercase;

  /* magia suceda */

  font-family: 'Morganite';
  font-weight: 700;
  line-height: 0.8;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  transition: font-size 10ms ease-in-out;
}

.headlineText1 {
  font-size: 10.6em;
  font-size: clamp(3.5rem, 12vw, 10.6rem);
}

.headlineText2 {
  font-size: clamp(4rem, 16vw, 9rem);
}

.rainbowSVG {
  vertical-align: baseline;
}

@media screen and (width <960px) {
  .title {
    font-size: min(max(3cqw, 1.8rem), 2.5cqh);
  }

  .text-0 {
    margin-bottom: 1em;
  }

  .rainbowSVG {
    width: auto;
    height: 19cqh;
  }

  .headline {
    display: flex;
    flex-direction: column;
    padding-top: 0.25em;
  }
}

@media screen and (width >=960px) {
  .title {
    font-size: 1.8rem;
  }

  .rainbowSVG {
    height: 1.17cap;
    width: auto;
    transform: translateY(1px);
  }

  .headline {
    font-size: 8em;
  }

  .text-0 {
    font-size: 1.6em;
    font-size: clamp(2.5rem, 2.5vw, 3.5rem);
    letter-spacing: 0.5em;
  }
}

@media screen and (width >=1280px) {
  .headline {
    font-size: 10em;
    font-size: 11.45em;
  }
}

.svg {
  position: absolute;
  z-index: -1;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orbit {
  --spin-time: 30s;
  animation: spin-reverse var(--spin-time) linear infinite;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.estrella1 {
  animation: spin 180s linear infinite;
  transform-origin: center;
}

.planeta1 {
  width: 6vw;
  aspect-ratio: 1 / 1;
  top: 5vh;
  left: 70vw;
  animation: spin 12s linear infinite;
}

.planeta2 {
  width: 16px;
  aspect-ratio: 1 / 1;
  top: 15vh;
  left: 15vw;
}

.planeta3 {
  width: 56.38px;
  aspect-ratio: 1 / 1;
  top: 25vh;
  left: 25vw;
  transform: rotate(-19.19deg);
  animation: spin 20s linear infinite;
}

.planeta4 {
  width: 33px;
  aspect-ratio: 1 / 1;
  top: 75vh;
  left: 65vw;
  animation: spin 180s linear infinite;
  transform-origin: center;
}

.planeta5 {
  position: absolute;
  width: 10vw;
  aspect-ratio: 1 / 1;
  top: 85vh;
  left: 85vw;
  transform: rotate(0);
  animation: spin var(--spin-time) linear infinite;
  transform-origin: center;
}

.ondaEstelar1 {
  width: 100%;
  transform: scale3d(1.2, 1.2, 1.5);
  animation: spin 90s linear infinite;
  transform-origin: center;
  width: 100vw;
  aspect-ratio: 1 / 1;
  scale: 1.25;
}

.ondaEstelar2 {
  animation: spin-reverse 60s linear infinite;
  transform-origin: center;
  width: 75vw;
  aspect-ratio: 1 / 1;
  /* scale: 0.8; */
}

.ondaEstelar3 {
  animation: spin 30s linear infinite;
  transform-origin: center;
  width: 45vw;
  aspect-ratio: 1 / 1;
  /* scale: 0.75; */
}

/* @media screen and (min-width: 1280px) {
  .ondaEstelar2 {
    width: 85vw;
  }

  .ondaEstelar3 {
    animation: spin 60s linear infinite;
    width: 70vw;
  }
} */

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  100% {
    transform: rotate(-360deg);
  }
}