.descargables {
  position: relative;
  background-color: hsl(266, 61%, 31%);
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.descargables .title {
  font-size: 4rem;
}

@media (width >=768px) {
  .descargables .title {
    font-size: 6rem;
  }
}

.palm-grid {
  position: absolute;
  top: 0;
  width: 100%;
  user-select: none;
  pointer-events: none;
  transform: translateY(-22%);
  max-height: 128%;
}