.descargables {
  position: relative;
  background-color: hsl(266, 61%, 31%);
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.descargables .title {
  font-size: 4rem;
}

@media (width >=768px) {
  .descargables .title {
    font-size: 6rem;
  }
}

.mountainContainer {
  position: relative;
}

.mountains {
  position: absolute;
  bottom: -1px;
  width: 100%;
  user-select: none;
  pointer-events: none;
  /* animation: scaleMountain 2s ease-in-out forwards;
  animation-timeline: view(); */
}


@keyframes scaleMountain {
  from {
    top: -15rem;
    scale: 1.2;
  }

  to {
    top: -13rem;
    scale: 1;
    transform: translateZ(1px);
  }
}

.palmGrid {
  position: absolute;
  top: 0;
  width: 100%;
  user-select: none;
  pointer-events: none;
  max-height: 128%;
  animation: movePalmGrid 2s ease-in-out forwards;
  animation-timeline: view();
}

@keyframes movePalmGrid {
  from {
    transform: translateY(0 100dvh);
  }

  to {
    transform: translateY(-22%);
  }
}

.sun {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(70%) translateX(-50%);
  scale: 1;
  width: 40vw;
  max-width: 320px;
  user-select: none;
  pointer-events: none;
  animation-name: animateSun;
  animation-fill-mode: forwards;
  animation-timeline: view();
}

@keyframes animateSun {
  from {
    translate: 0 70%;
  }

  to {
    translate: 0 -70%;
  }
}