.resources {
  position: relative;
  padding-bottom: 10vh;
  padding-top: 10vh;

  background-color: hsl(266, 61%, 31%);
  background-image: url('/assets/grid.svg');
  background-size: contain;
  background-position: 50% 0;
}

@media (width >=768px) {
  .resources {
    animation: moveGrid 2s ease-in-out forwards;
    animation-timeline: view();
    will-change: background-position;
    background-size: auto;
    background-position: 50% -50%;
    background-repeat: no-repeat;
  }

  @keyframes moveGrid {
    from {
      background-position: 50% -50%;
    }

    to {
      background-position: 50% 0;
    }
  }
}

@media (width >=768px) {
  .resources {
    background-size: 100% auto;
  }
}


.resources .title {
  font-size: 4rem;
}

@media (width >=768px) {
  .resources .title {
    font-size: 6rem;
  }
}

.mountainContainer {
  position: relative;
}

.mountains {
  position: absolute;
  bottom: -1px;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.palm {
  position: absolute;
  width: 90vw;
  bottom: 0;
  user-select: none;
  pointer-events: none;
  animation: movePalm 2s ease-in-out forwards;
  animation-timeline: view();
  will-change: scale, translate;
}

@keyframes movePalm {
  from {
    scale: 0.8;
    translate: 0 15%;
  }

  to {
    scale: 0.8;
    translate: 0 0;
  }
}

.sun {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(70%) translateX(-50%);
  scale: 1;
  width: 40vw;
  max-width: 320px;
  user-select: none;
  pointer-events: none;
  animation-name: animateSun;
  animation-fill-mode: forwards;
  animation-timeline: view();
}

@keyframes animateSun {
  from {
    translate: 0 70%;
  }

  to {
    translate: 0 -70%;
  }
}