.services {
  position: relative;
  padding-bottom: 200px;
  overflow-x: clip;
}

@media (width >=1280px) {
  .services {
    padding-top: 200px;
  }
}

.article {
  margin-bottom: 5rem;
}

.columns {
  margin-inline: auto;
}

@media (width <960px) {
  .column2 {
    flex-direction: column-reverse;
  }
}

@media (width >=960px) {
  .article {
    max-width: 90vw;
  }
}

@media (width >=1280px) {
  .article {
    max-width: 85vw;
  }
}

.text {
  max-width: 25rem;
}

@media (width >=768px) {
  .text {
    max-width: 14rem;
  }
}

.image {
  max-width: 100%;
}