.services {
  overflow-x: hidden;
}

.article {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.columns {
  margin-inline: auto;
  width: fit-content;
}

@media (width <960px) {
  .column2 {
    flex-direction: column-reverse;
  }
}

@media (width >=960px) {
  .article {
    margin-top: 2.5rem;
    max-width: 90vw;
  }
}

@media (width >=1280px) {
  .article {
    margin-top: 2.5rem;
    max-width: 85vw;
  }
}

.text {
  max-width: 25rem;
}

@media (width >=768px) {
  .text {
    max-width: 14rem;
  }
}