.base {
  display: block;
}

@media screen and (width > 640px) {
  .mobile {
    display: none;
  }

  .base {
    outline: 1px solid green;
  }
}

@media screen and (width <=640px) {
  .mobile-hidden {
    display: none;
  }

  .base {
    outline: 1px solid red;
  }
}

@media screen and (width <960px) {
  .desktop {
    display: none;
  }

  .base {
    outline: 1px solid blue;
  }
}

@media screen and (width >=960px) {
  .desktop-hidden {
    display: none;
  }

  .base {
    outline: 1px solid orange;
  }
}