.footer {
  min-height: 20dvh;
  display: flex;
  align-items: center;
}

.footer a {
  text-decoration: none;
}

.grid {
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.social {
  display: flex;
  justify-content: flex-end;
  gap: 2.5rem;
}

@media (max-width: 1280px) {
  .grid {
    justify-content: center;
    flex-direction: column;
  }

  .social {
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .grid {
    flex-direction: row;
    justify-content: space-between;
  }
}


@media (max-width: 640px) {
  .label {
    display: none;
  }
}