.header {
  height: 6rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  color: white;
  fill: white;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navigation a {
  text-underline-offset: 0.2rem;
  text-rendering: optimizeLegibility;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation a:focus-visible {
  outline: 4px solid hsl(var(--ring));
  outline-offset: 5px;
}