---
import MobileMenu from "./mobile-menu/MobileMenu.astro";
import Button from "./ui/button/Button.astro";
import Container from "./ui/container/Container.astro";
import Drawer from "./ui/drawer/Drawer.astro";
import Flex from "./ui/flex/Flex.astro";
import HeaderBase from "./ui/header/Header.astro";
import Icon from "./ui/icon/Icon.astro";
import type { iconPaths } from "./ui/icon/IconPaths";
import Link from "./ui/link/Link.astro";
import Nav from "./ui/nav/Nav.astro";
import NavLink from "./ui/nav/NavLink.astro";
import Logo from "./ui/svg/Logo.astro";
import Viewport from "./ui/viewport/Viewport.astro";

// import useStickyHeader from "~/hooks/useStickyHeader";
import styles from "./Header.module.css";

import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";

const isSticky = false;
/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "Home", href: "/" },
  { label: "Work", href: "/work/" },
  { label: "About", href: "/about/" },
];

/** Icon links to social media — edit these with links to your profiles! */
const iconLinks: {
  label: string;
  href: string;
  icon: keyof typeof iconPaths;
}[] = [
  { label: "Twitter", href: "https://twitter.com/me", icon: "twitter-logo" },
  { label: "Twitch", href: "https://twitch.tv/me", icon: "twitch-logo" },
  { label: "GitHub", href: "https://github.com/me", icon: "github-logo" },
  { label: "CodePen", href: "https://codepen.io/me", icon: "codepen-logo" },
  { label: "dribbble", href: "https://dribbble.com/me", icon: "dribbble-logo" },
  {
    label: "YouTube",
    href: "https://www.youtube.com/@me/",
    icon: "youtube-logo",
  },
];
---

<HeaderBase
  class:list={[styles.header, { [styles.sticky]: isSticky }]}
  class="header"
  position="fixed"
  style={{ zIndex: 1 }}
>
  <Container>
    <Viewport variant="mobile">
      <div>
        <Drawer id="mobile-menu">
          <Button
            slot="button"
            variant="ghost"
            class:list={[styles.button, "menu-button"]}
          >
            <Icon icon="hamburger" size="24px" />
            <span class="sr-only">Menu</span>
          </Button>
          <div id="menu-content">
            <MobileMenu textLinks={textLinks} iconLinks={iconLinks} />
          </div>
        </Drawer>
        <Link href="/" class="logo-link" title="Home Page">
          <Logo />
        </Link>
      </div>
    </Viewport>
    <Viewport variant="mobile-hidden">
      <Flex justify="between" align="center">
        <Link href="/" class="logo-link" title="Home Page">
          <span class="sr-only">{SITE_TITLE}</span>
          <Logo />
        </Link>
        <Nav class:list={[styles.navigation, "internal-links"]}>
          <NavLink href="#services">Servicios</NavLink>
          <NavLink href="#about">Sobre mi</NavLink>
          <NavLink href="#resources">Recursos</NavLink>
          <HeaderLink href="/">Home</HeaderLink>
          <HeaderLink href="/blog">Blog</HeaderLink>
          <HeaderLink href="/portfolio">Portfolio</HeaderLink>
          <HeaderLink href="/about">About</HeaderLink>
        </Nav>
      </Flex>
    </Viewport>
  </Container>
</HeaderBase>
