.headerColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (width > 1024px) {
  .headerColumns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.logo {
  color: white;
  fill: white;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navigation a {
  text-underline-offset: 0.2rem;
  text-rendering: optimizeLegibility;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation a:focus-visible {
  outline: 4px solid hsl(var(--ring));
  outline-offset: 5px;
}

.social {
  display: none;
  justify-content: flex-end;
  gap: 1rem;
}

@media (width > 1024px) {
  .social {
    display: flex;
  }
}