.link {
  color: currentColor;
  text-underline-offset: .2rem;
}

.link:hover {
  color: color-mix(in hsl, currentColor, #ffffff 10%);
}

.link:focus-visible {
  outline: 4px solid hsl(var(--ring));
  outline-offset: 5px;
}