---
import { cva, type VariantProps } from "class-variance-authority";
import type { HTMLAttributes } from "astro/types";
import styles from "./Link.module.css";

const cvaVariants = cva(styles.header, {
  variants: {
    position: {
      static: styles.static,
      sticky: styles.sticky,
      fixed: styles.fixed,
      absolute: styles.absolute,
    },
  },
});

type Props = HTMLAttributes<"a"> & VariantProps<typeof cvaVariants>;

const { class: className = "", position, ...props } = Astro.props as Props;
---

<a {...props} class:list={[styles.link, className]}>
  <slot />
</a>
