.card {
  border-width: 0;
  border-radius: .25rem;
}

.primary {
  background-color: hsl(var(--card));
}

.shadow {
  box-shadow:
    2px 2px 0 3px hsl(266, 54%, 51%),
    -9px -9px 0 3px hsl(266, 54%, 51%, 0.5);
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding-inline: .5rem;
}

.title {
  margin: 0;
  letter-spacing: -.025em;
  line-height: 1.5;
  font-weight: 700;
  font-size: var(--text-2xl);
}

.description {
  font-size: var(--text-base);
  line-height: 1.5;
  font-weight: 500;
  /* "text-muted-foreground" */
}

.content {
  padding-inline: 1.5rem;
}

.image {
  width: 100%;
  object-fit: cover;
}

.image-cover {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-position: center;
  background-size: cover;
}

.footer {
  display: flex;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  padding-top: 0;
  margin-top: auto;
  align-items: center;
}

.padding {
  padding: 0.5rem;
}