---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import BaseHead from "~/components/BaseHead.astro";
import Footer from "~/components/Footer.astro";
import MainHeader from "~/components/MainHeader.astro";

const { title, description, ...props } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
    />
  </head>
  <body>
    <MainHeader />
    <main {...props}>
      <slot />
    </main>
    <Footer style="margin-top: auto" />
  </body>
</html>
