---
import type { HTMLAttributes } from "astro/types";
import styles from './Background.module.css';

type BaseProps = HTMLAttributes<'div'>;

const {class: className = '', ...props} = Astro.props as BaseProps;
---

<div class:list={[styles.asBackground, className]} {...props}>
  <slot />
</div>