.asBackground {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;
}

.asBackground>* {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.asBackground :is(img, svg) {
  user-select: none;
  pointer-events: none;
}

.background {
  background-size: 100%;
  background-position: center;
}

.no-repeat {
  background-repeat: no-repeat;
}

.repeat {
  background-repeat: repeat;
}