---
import type { HTMLAttributes } from "astro/types";
import styles from "./Background.module.css";

export type BackgroundProps = HTMLAttributes<"div"> & {
  url: string;
  repeat?: boolean;
};

const {
  repeat,
  url,
  class: className = "",
  style = {},
  ...props
} = Astro.props as BackgroundProps;

const inlineStyle = typeof style === "object" ? style : null;
---

<div
  class:list={[
    styles.background,
    { [styles.repeat]: repeat, [styles["no-repeat"]]: !repeat },
    className,
  ]}
  style={{ ...inlineStyle, backgroundImage: `url(${url})` }}
  {...props}
>
  <slot />
</div>
